body{
    background-image: url(https://s1.ticketm.net/dam/a/477/955a0c60-463c-442a-a3bb-d10aa68dc477_1827641_TABLET_LANDSCAPE_LARGE_16_9.jpg);
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
      }
}


h1 {
    text-align: center;
    color: rgb(245, 241, 241);
}


h2{
    text-align: center;
    color: rgb(236, 236, 236);
}


h3{
    text-align: center;
     color: rgb(241, 237, 237);

}


pre{
    text-align: center;
border: 2px solid black;
 margin: 85px;
  background-color: rgb(210, 216, 160);
}

p{
    font-family: "Times New Roman", Times, serif;
}






